<div class="implement">
	<div class="implement-nav">
		<span>
			<a class="c9" ui-sref="inspection.implement.list({tenantId:$stateParams.tenantId||$localStorage.userInfo.tenantId})" ui-sref-opts="{reload:true}">巡检实施</a>&gt;
			<i class="c6">查看详情</i>
		</span>
		<span class="btn" ng-click="showPrint()">打印巡检报告单</span>
	</div>
	<implement-detail obj="data.plan" type="data.type" no="data.print.reportNo"></implement-detail>
	<div class="main">
		<div class="title2">
			<div class="tab">
				<div class="{{data.conType === 1 ? 'tab-item tab-active' : 'tab-item'}}" ng-click="changeConType(1)">巡检内容</div>
				<div class="{{data.conType === 2 ? 'tab-item tab-active' : 'tab-item'}}" ng-click="changeConType(2)">巡检总结</div>
			</div>
		</div>
		<div class="main-content" ng-if="data.conType === 1">
			<table style="margin-bottom: 10px;">
				<tr>
					<td class="c6">巡检范围：</td>
					<td class="c9">{{data.plan.scope}}</td>
				</tr>
			</table>
			<div style="margin-bottom: 10px;color: #666;">
				实际开始日期：
				<span style="color: #999">{{data.plan.actualStartDate ? (data.plan.actualStartDate | date: 'yyyy-MM-dd') : '无'}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				实际结束日期：
				<span style="color: #999">{{data.plan.actualEndDate ? (data.plan.actualEndDate | date: 'yyyy-MM-dd') : '无'}}</span>
			</div>
			<div style="min-width: 800px;overflow-x: auto;">
				<implement-template-q type1="3" type2="3" page="pageInfo.current" page-size="pageInfo.size" equipments="data.equipments"
				 templates="data.templates"></implement-template-q>
			</div>
			<!-- 分页 -->
			<span ng-if="!data.loading && !data.empty" data-ng-include=" 'src/tpl/newPageInfo.html' "></span>
			<!-- empty -->
			<div class="empty" ng-if="data.empty && !data.loading">
				<img src="../../../res/img/nocontent.png">暂无数据</div>
			<!-- loading -->
			<div class="loading" ng-if="data.loading">
				<img src="../../../res/img/loading2.gif">
			</div>
		</div>
		<div class="main-summary" ng-if="data.conType === 2">
			<implement-summary type="data.type" obj="data.plan"></implement-summary>
		</div>
	</div>
</div>

<!-- 打印巡检报告单 -->
<div class="implement-print" id="template_ques" style="display: none;">
	<div class="modal-tab">
		<span ng-class="{'modal-tab-active': data.reportType == 1}" ng-click="changeReportType(1)">简易版</span>
		<span ng-class="{'modal-tab-active': data.reportType == 2}" ng-click="changeReportType(2)">标准版</span>
	</div>
	<h2>{{data.print.hospital}}--医疗设备巡检记录单</h2>
	<div class="info">
		<dl style="margin-right: 250px;">
			<dt>计划编号：</dt>
			<dd>{{data.print.planNo}}&nbsp;</dd>
			<dt>巡检科室：</dt>
			<dd>{{data.print.scope}}&nbsp;</dd>
			<dt>负责人：</dt>
			<dd>{{data.print.director}}&nbsp;</dd>
		</dl>
		<dl class="dt" style="width: 230px;">
			<dt>报告编号：</dt>
			<dd>{{data.print.reportNo}}&nbsp;</dd>
			<dt>开始日期：</dt>
			<dd>{{data.print.firstDate ? (data.print.firstDate | date: 'yyyy-MM-dd') : ''}}&nbsp;</dd>
			<dt>结束日期：</dt>
			<dd>{{data.print.nextDate ? (data.print.nextDate | date: 'yyyy-MM-dd') : ''}}&nbsp;</dd>
		</dl>
	</div>
	<div style="width: 900px;margin:0 auto 20px auto;overflow-x: auto;" ng-if="data.reportType == 2">
		<implement-template-q type1="3" type2="3" page="1" page-size="data.print.records.length" equipments="data.print.records"
		 templates="data.templates"></implement-template-q>
	</div>
	<div class="summary">
		<div class="summary-title">临床使用情况</div>
		<div class="summary-con">{{data.print.condition}}</div>
	</div>
	<div class="summary">
		<div class="summary-title">存在的问题及分析</div>
		<div class="summary-con">{{data.print.analysis}}</div>
	</div>
	<div class="summary">
		<div class="summary-title">改进的问题及建议</div>
		<div class="summary-con">{{data.print.suggestion}}</div>
	</div>
	<div style="width: 900px;margin:20px auto 20px auto;overflow-x: auto;">
		<table class="implement-template">
			<tr>
				<td style="width: 100px; text-align: center;">计划验收人</td>
				<td>{{data.print.checkMan.join("；")}}</td>
			</tr>
			<tr>
				<td style="width: 100px; text-align: center;">已验收人</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
</div>