<div class="maintain-select">
    <div class="selectWrap" style="position: relative;">
        <div class="selector" ng-click='displayOption()'>
            <input class="maintain-select-input" style="width: 200px; padding-right: 33px; color: {{item.id > 0 ? '#333;' : '#999;'}}" type="text" ng-model='item.name' readonly="true">
        </div>
        <ul class="maintain-select-options" ng-show='showOptions'>
            <li ng-repeat='item in list' ng-click='chooseItem(item)'>{{item.name}}</li>
        </ul>
    </div>
    <div class="fixWrap" ng-show='showOptions' ng-click='menuHide()'></div>
</div>