.flow-config {
    min-width: 1400px;
    margin-left: 170px;
}

.flow-config-top {
    margin: 10px 15px 10px 0;
    font-size: 15px;
    line-height: 32px;
    overflow: hidden;
}

.flow-config-btn {
    float: right;
    width: 80px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    background-color: #f7931e;
    border: 1px solid #f7931e;
    cursor: pointer;
}

.flow-config-btn-default {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #666;
}

.flow-config-main {
    margin: 0 15px 15px 0;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}



/* main search */

.flow-config-main-search {
    margin-bottom: 15px;
}

.flow-config-main-search input[type="text"] {
    width: 300px;
    height: 32px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid #ccc;
    outline: 0;
}

.flow-config-main-table {
    width: 100%;
    border-collapse: collapse;
}

.flow-config-main-table thead td {
    background-color: #f0f0f0;
    white-space: nowrap;
}

.flow-config-main-table td {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.flow-config-main-table input[type='text'] {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.flow-config-main-table .audit {
    background: #fff url('../../../../res/img/down.png') no-repeat 94% center;
}

.flow-config-main-table .swrap {
    position: relative;
    display: inline-block;
}

.flow-config-main-table .swrap-search {
    position: absolute;
    top: 34px;
    right: -5px;
    left: -5px;
    z-index: 1;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 6px 2px #dfdfdf;
}

.flow-config-main-table .swrap-search input[type='text'] {
    background: #fff url('../../../../res/img/search.png') no-repeat 94% center;
}


.flow-config-main-table .swrap-search-list {
    max-height: 180px;
    margin-top: 5px;
    overflow-y: auto;
}

.flow-config-main-table .swrap-search-list .item {
    line-height: 20px;
    padding: 4px 10px;
    white-space: normal;
    cursor: pointer;
}

.flow-config-main-table .swrap-search-list .item:hover {
    background-color: #f7931e;
    color: #fff;
}


.flow-config-main-table .num {
    width: 120px;
}

.loading {
    margin: 30px 0;
    text-align: center;
}

.empty {
    margin: 30px 0;
    text-align: center;
}

.empty img {
    margin-right: 10px;
    vertical-align: middle;
}






/* select */

.pm-select {
    display: inline-block;
}

.pm-select-input {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    padding-left: 10px;
    border: 1px solid #dcdcdc;
    background: #fff url('../../../../res/img/down.png') no-repeat 94% center;
}

.pm-select-input:focus {
    border-color: #f7931e;
    color: #666;
}

.pm-select-options {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 110;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 5px 15px 0px #cfcfcf;
    max-height: 300px;
    overflow-y: auto;
}

.pm-select-options li {
    padding-left: 10px;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
    word-break: break-all;
}

.pm-select-options li:hover {
    background-color: #f7931e;
    color: #fff;
}

.pm-select .fixWrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}







/* placeholder */

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}