     <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!--遮蔽层-->
<div class="assets-overlay" ng-show="needOverlay" ng-click="closeAll()"></div>
<div class="bg-white ytz-con bread-crumb2 zctzDetailTop">
        <ul class="breadcrumb b-1 b-a m-b-n-xs lter b-b wrapper-md" >
            <li><a class="acolor999" ui-sref="main.tre.zctz.list({id:$stateParams.id})">资产台账</a></li>
            <li><a ui-sref="main.tre.zctz.credentials({state: 1,assetId:$stateParams.assetId})">资产台账详情</a></li>
        </ul>
        <div class="treAssestBtn"><a ng-if='state==0' ng-click='saveAssets()' class="submit m-r" ng-if="userInfo.authoritiesStr.indexOf('ASS_ASSETS_EDIT') != -1">提交</a><a ng-if='state==0' ui-sref="main.tre.zctz.credentials({state: 1,assetId:$stateParams.assetId})" id='treEditBtnCancle' class="treAssestBtnCancle" ng-if="userInfo.authoritiesStr.indexOf('ASS_ASSETS_EDIT') != -1">取消</a><a ng-if='state==1' class="submit m-r" ui-sref='main.tre.zctz.credentials({state: 0,assetId:$stateParams.assetId})' ng-if="userInfo.authoritiesStr.indexOf('ASS_ASSETS_EDIT') != -1">编辑</a><a ng-if='state==1' class="submit zctzSubmit" ng-click="alert()">打印标签</a></div>
        <div class="detail-top" >
            <span class='detailAssetsImgWrap'><img id='assetDetailImg' ng-src='{{res.assetsImg?("/api/file"+res.assetsImg):("../res/img/11.png")}}'/></span>
            <span>
                <div><span>设备名称：<span class='layerTipTopClass'><span >{{res.assetsName}}</span></span></span><span class='assetsStatusName' ng-class='{assetsStatusNameE:assetsNameEdit&&(state==0)}'><span ng-if="res.repairStatusName=='维修中'" class="assetsStatusStoped m-l-none m-r-sm">维修中</span>状态：{{res.statusName}}</span><span class='font13' style="position: absolute;right: 20px">{{res.createByName}}&nbsp&nbsp&nbsp&nbsp {{res.assetsSourceName}}于&nbsp&nbsp&nbsp&nbsp {{dateToTime(res.createTime)}}</span></div>
                <div><span>设备编号：{{res.assetsNum}}</span></div>
                <div><span>生产商：<span>{{res.factoryName}}</span></span></div>
            </span>
        </div>
        <div class="treSection">
        <ul class="b-2">
            <li><a ui-sref="main.tre.zctz.assets({state:1,assetId:$stateParams.assetId,id:$stateParams.id})">设备信息</a></li>
            <li><a ui-sref="main.tre.zctz.purchase({state:1,assetId:$stateParams.assetId,id:$stateParams.id})">采购信息</a></li>
            <li><a ui-sref="main.tre.zctz.contract({state:1,assetId:$stateParams.assetId,id:$stateParams.id})">合同信息</a></li>
            <li class="active"><a ui-sref="main.tre.zctz.credentials({state:1,assetId:$stateParams.assetId,id:$stateParams.id})">证件信息</a></li>
            <li><a ui-sref="main.tre.zctz.repair({assetId:$stateParams.assetId,id:$stateParams.id})">维修记录</a></li>
            <li ><a ui-sref="main.tre.zctz.operate({assetId:$stateParams.assetId,id:$stateParams.id})">操作记录</a></li>

            <hr class="bottomline topbig" />
        </ul>
        </div>
</div>
<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>
<!-- 内容区域 -->
<div class="wrapper-md zctz-pur ytz-detail m-t-none content">
    <div class="panel panel-default ay-minpanel">
        <div class="supplierCredentials">
	<div class="supplierCredentialWrap" ng-repeat='credential in credentials track by $index'>
		<div class="supplierCredentialImg">
			<img src="../../res/img/credentialDefault.png" ng-click='credentialsImg(credential)' ng-src='{{credential.imageUrl?("/api/file"+credential.imageUrl):"../../res/img/11.png"}}'>
		</div>
		<div class="supplierCredentialInfos">
			<div class="supplierCredentialName">{{credential.name}}</div>
			<div class="supplierCredentialInfo"><span class='supplierCredentialInfoHead supplierCredentialInfoCodeHead'>{{credential.certificateType==4?'生产日期':(credential.certificateType==2?'注册号':'编号')}}：</span><div class="supplierCredentialInfoCodeBody">{{credential.certificateType==4?(credential.productDate | date:'yyyy-MM-dd'):(credential.certificateType==2?credential.certificateRegisterNum:credential.certificateNum)}}</div></div>
			<div class="supplierCredentialInfo"><span class='supplierCredentialInfoHead'>{{credential.certificateType==4?"有效期：":"有效期至："}}</span><span>{{credential.certificateType==4?credential.validDateStr:(credential.validDate | date:'yyyy-MM-dd')}}</span></div>
		</div>
		<div class="supplierCredentialLabel" ng-if='credential.unused'>已过期</div>
		<div class='treCredentialOpe' ng-if='state==0'><a href='javascript:;' class="" ng-click='credentialsUpload(1,credential,$index)' ng-class={'treCredentialEdit':credential.certificateType!=5}>编辑</a><a href="javascript:;" class="treCredentialDel" ng-click='credentialDel($index)' ng-if='credential.certificateType==5'>删除</a></div>
	</div>
	<div class="supplierCredentialAdd supplierCredentialWrap" ng-if='state==0&&credentials.length<12'>
		<div class="supplierCredentialAddCon"><img src="../../res/img/addbill.png"><span>新增证件</span></div>
		<a class="supplierCredentialAddBtn" ng-click='credentialsUpload(0)'></a>
	</div>
	<div id="credentialsUploadWrap" style='display:none;'>
		<div class='credentialsUpload treCredentialsEdit'>
			<div class="certificateNameDiv treCredentialsEditDiv">
				<span class='credentialsUploadSpan'><em>*</em>证件名称：</span>
				<input type="text" ng-model="obj.name" maxlength='40' placeholder='请输入，40字符以内' ng-disabled="obj.certificateType<5" ng-blur='nameCheck()'>
				<div class="certificateNameErr" ng-if='certificateNameErr'>{{certificateNameTxt}}</div>
			</div>
			<div class="credentialsUploadDiv certificateNameDiv treCredentialsEditDiv">
				<span class='credentialsUploadSpan'><em>*</em>上传图片：</span>
				<div class="picfile">
					<div ng-mouseenter="imgChangeFn(obj)" ng-mouseleave="imgChangeFn2(obj)" class="picfileCon">
						<input ng-hide="true" type="file" id="imgFiles" onchange="angular.element(this).scope().setImagePreview(this)">
						<i ng-if="!obj.imgClick" ng-show="!obj.imgClick" class="file-i" ng-click="fileImg(obj)"></i>
						<img ng-if="obj.imgClick" ng-show="obj.imgClick" class="file-i" src="{{obj.imgSrc}}" ng-click="fileImg(obj)" alt="">
						<div ng-if="obj.imgChange" ng-show="obj.imgChange" class="hd_imgDelet"><i ng-click="fileImg(obj)">更换</i><i ng-click="delect(obj)">删除</i></div>
					</div>
					<span class='treCredentialsEditSpan'>* 证件图片仅支持png、jpg、jpeg格式，单张大小不可超过2M</span>
				</div>
				<div class="certificateNameErr" ng-if='certificateFileErr'>请上传证件图片</div>
			</div>
			<div class="credentialsUploadDiv treCredentialsEditDiv">
				<span class='credentialsUploadSpan'>{{obj.certificateType==4?'生产日期':(obj.certificateType==2?'注册号':'编号')}}：</span>
				<input type="text" placeholder='请输入' maxlength="40" ng-if='obj.certificateType!=2&&obj.certificateType!=4' ng-model='obj.certificateNum'>
				<input type="text" ng-if='obj.certificateType==4' readonly="readonly" placeholder='' id="productDate" class="input-datepicker">
				<input type="text" placeholder='请输入' maxlength="40" ng-if='obj.certificateType==2' ng-model='obj.certificateRegisterNum'>
			</div>
			<div class="credentialsUploadDiv treCredentialsEditDiv">
				<span class='credentialsUploadSpan'>{{obj.certificateType==4?"有效期：":"有效期至："}}</span>
                <input ng-if='obj.certificateType==4' type="text" placeholder='' ng-model='obj.validDateStr' maxlength="40">
				<input ng-if='obj.certificateType!=4' type="text" readonly="readonly" placeholder='' ng-value='' id="datepickerUpload" class="input-datepicker">
			</div>
			<div class="credentialsUploadBtn">
				<a href="javascript:;" ng-click='credentialsSave()'>提交</a>
			</div>
		</div>
	</div>
</div>
    </div>
</div>
<div class="credentialsBigImgWrap" ng-if='credentialsImgShow&&state==1'>
    <div class="credentialsBigImg">
        <a href="javascript:;" ng-click='$parent.credentialsImgShow=false'></a>
        <img ng-src="{{credentialUrl}}">
    </div>
</div>
<div id="inspectionLayer" class="inspectionLayer" style="display: none;">
    <div class="inspectionLayerCon">
        <div>
            <div class="inspectionLayerImg m-t-lg m-b-md"><img src='../../res/img/icon20.png'></div>
            <div>
                <span>删除后，证件信息将不可恢复，确定删除吗？</span>
            </div>
        </div>
    </div>
</div>
<!-- 打印 -->
 <div class="printthis" ng-show='printIt'>
    <div  id="printIt">
        <div class="table-b-show">
            <table style="width:100%;height:100%;">
                <tr><td colspan="3" style="text-align:center;"><font style="width:1px;height:1px">{{userInfo.tenantName}}-固定资产标签</font></td></tr>
                <tr>
                    <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">设备编号</td>
                    <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{res.assetsNum}}</td>
                </tr>
                <tr ng-if="res.serialNum">
                    <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">院内编码</td>
                    <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{res.serialNum}}</td>
                </tr>
                <tr>
                    <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">设备名称</td>
                    <td colspan="2" style="border-bottom: 1px hidden black;padding:2px;">{{res.assetsName}}</td>  
                </tr>
                <tr>
                    <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">规格/品牌</td>
                    <td colspan="2" style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;">{{res.assetsSpec}}{{res.assetsBrand?'（'+res.assetsBrand+'）':''}}</td>
                </tr>
                <tr>
                    <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">出厂编号</td>
                    <td style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;word-break: break-all;">{{res.factoryNum}}</td>
                    <td rowspan="3" align=center style="width:75px;">
                        <img style="margin-top:0px;" width="75px" height="75px" ng-src="/api/assets/assetsInfo/getQRCode/{{res.assetsId}}" alt=""/>
                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px hidden black;">所在部门</td>
                    <td style="border-right: 1px hidden black;padding:2px;">{{res.deptName}}</td>
                </tr>
                <tr>
                    <td style="border-right: 1px hidden black;">启用日期</td>
                    <td style="border-right: 1px hidden black;padding:2px;">{{dateToTime(res.startUseDate)}}</td>
                </tr>
            </table>
        </div>
     </div>
    <div class="printBtn"><span class="print">打印</span></div>
 </div>
 <div id="print-table" style="position: fixed;display:none;">   
 <!--startprint-->
    <div class="table-b-print">
        <table style="width:100%;height:100%;">
            <tr><td colspan="3" style="text-align:center;"><font style="width:1px;height:1px">{{userInfo.tenantName}}-固定资产标签</font></td></tr>
            <tr>
                <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">设备编号</td>
                <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{res.assetsNum}}</td>
            </tr>
            <tr ng-if="res.serialNum">
                <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">院内编码</td>
                <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{res.serialNum}}</td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">设备名称</td>
                <td colspan="2" style="border-bottom: 1px hidden black;padding:2px;">{{res.assetsName}}</td>  
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">规格/品牌</td>
                <td colspan="2" style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;">{{res.assetsSpec}}{{res.assetsBrand?'（'+res.assetsBrand+'）':''}}</td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">出厂编号</td>
                <td style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;word-break: break-all;">{{res.factoryNum}}</td>
                <td rowspan="3" align=center style="width:75px;">
                    <img style="margin-top:0px;" width="75px" height="75px" ng-src="/api/assets/assetsInfo/getQRCode/{{res.assetsId}}" alt=""/>
                </td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;">所在部门</td>
                <td style="border-right: 1px hidden black;padding:2px;word-break: break-all;">{{res.deptName}}</td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;">启用日期</td>
                <td style="border-right: 1px hidden black;padding:2px;word-break: break-all;">{{dateToTime(res.startUseDate)}}</td>
            </tr>
        </table>
    </div>
<!--endprint-->
</div>
