<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!--遮蔽层-->
<div class="assets-overlay" ng-show="needOverlay" ng-click="closeAll()"></div>
<!-- 导航条 -->
<div class="bg-white ytz-con bread-crumb2">
	<ul class="breadcrumb b-1 b-a m-b-n-xs lter b-b wrapper-md ay-headernav">
		<li><a class="acolor999" ui-sref="main.tre.ytz.list({id:$stateParams.id})">预台账</a></li>
		<li><a ui-sref="main.tre.ytz.assets({state: 1,assetId:$stateParams.assetId})">预台账详情</a></li>
	</ul>
	<div ng-click="btnFn($event)" class="btn-list">
		<a ng-repeat="btn in btnData" class="{{btn.class}}" name="{{btn.name}}" ng-if="btn.limit">{{btn.text}}</a>
	</div>
	<div class="pro-status" >
		<div class="pro-tit">
			<span>验收单号：<i>{{assetsDetailInfo.verfyNum}}</i></span><span>状态：<em>{{statusText}}</em></span>
			<div ng-click="proUl($event)" ng-show="ulStatus">
				<a href="javascript:;" ng-show='isClick' name="down" class="ul-operate" style="right:-165px"><i><img src="" alt=""></i></a>
				<a href="javascript:;" ng-hide='isClick' name="up" class="ul-operate ul-operate-up" style="right:-165px"><i><img src="" alt=""></i></a>
			</div>
		</div>
		<ul class="pro-ul">
			<li class="row" ng-repeat='operate in operateList'><span class="p-r-40">{{operate.operateName }}</span><span class="p-r-80">{{operate.operateStatus==1?'创建预台帐':(operate.operateStatus==2?'提交申请':(operate.operateStatus==3?'验收不通过':'验收通过'))}}</span><span class="p-r-80">{{operate.operateTime  | date:'yyyy-MM-dd HH:mm'}}</span><span class="p-r-80"><a ng-if='operate.operateStatus==3||operate.operateStatus==4' href="javascript:;" ng-click="getCheckInfo(operate)">查看验收详情</a></span></li>
		</ul>
	</div>
	<!--设备信息-->
	<div class="bg-white paneltop">
		<div class="deviceImg ay-uploadImg">
			<input type="hidden" ng-model="assetsDetailInfo.assetsImg" />
			<img ng-if="assetsDetailInfo.assetsImg" width="100" height="100" ng-src="{{fileUrlBase}}{{assetsDetailInfo.assetsImg}}" />
			<img ng-if="!assetsDetailInfo.assetsImg" width="100" height="100" ng-src="../res/img/11.png" />
			<input ng-if='state==0 || currentState==3' id="deviceImgFile" nv-file-select="" name="files" uploader="uploader" ng-click="clearItems()" type="file" />
		</div>
		<div class="deviceInfo hd_deviceInfo detail-top">
			<span>
            <div>
                <span><i ng-if="state==0 || currentState==3" class="hd_mustWrite">*</i>设备名称：
                    <span ng-mouseenter='assetsTilteHover("assetsNameTipShow","assetsNameEdit")' class='layerTipTopClass' ng-mouseleave='assetsTilteLeave("assetsNameTipShow",0)' ng-click='editAssetsTitle(0)'>
                        <span ng-hide='assetsNameEdit&&(state==0 || currentState==3)'>{{assetsDetailInfo.assetsName}}<span ng-if="assetsDetailInfo.repairStatus==2" class="assetsStatusStoped">维修中</span></span>
                        <div ng-if="(userInfo.authoritiesStr.indexOf('ASS_PREASSETS_EDIT') != -1)&&(state==0 || currentState==3)" ng-show='assetsNameTipShow&&!assetsNameFocus' class="layerTipTop">点击即可编辑<em></em>
                        </div>
                        <input ng-if="(userInfo.authoritiesStr.indexOf('ASS_PREASSETS_EDIT') != -1)&&(state==0 || currentState==3)" ng-trim='false' ng-change='limitLength("assetsName",40)' ng-focus='setInputFocus("assetsNameFocus")' ng-show='assetsNameEdit' type="text" ng-blur='saveAssetsTitleLocal(0)' ng-model='$parent.assetsName' class="assetsTitleInput" id="assetsNameInput">
                    </span>
                </span>
            </div>
            <div><span>设备编号：{{assetsDetailInfo.assetsNum}}</span></div>
            <div>
                <span><i ng-if="state==0 || currentState==3" class="hd_mustWrite">*</i>生产商：
                    <span ng-mouseenter='assetsTilteHover("factoryNameTipShow","factoryNameEdit")' class='layerTipTopClass' ng-mouseleave='assetsTilteLeave("factoryNameTipShow",1)' ng-click='editAssetsTitle(1)'>
                        <span ng-hide='factoryNameEdit&&(state==0  || currentState==3)'>{{assetsDetailInfo.factoryName}}</span>
                        <div ng-if="(userInfo.authoritiesStr.indexOf('ASS_PREASSETS_EDIT') != -1)&&(state==0 || currentState==3)" ng-show='factoryNameTipShow&&!factoryNameFocus' class="layerTipTop">点击即可编辑<em></em>
                        </div>
                        <input ng-if="(userInfo.authoritiesStr.indexOf('ASS_PREASSETS_EDIT') != -1)&&(state==0 || currentState==3)" ng-focus='setInputFocus("factoryNameFocus")' ng-trim='false' ng-change='limitLength("factoryName",40)' ng-show='factoryNameEdit' type="text" ng-blur='saveAssetsTitleLocal(1)' ng-model='$parent.factoryName' class="assetsTitleInput" id="factoryNameInput">
                    </span>
                </span>
            </div>
        </span>

		</div>
	</div>
	<div class="treSection">
		<ul class="b-2">
			<li class="active"><a ui-sref="main.tre.ytz.assets({id:$stateParams.id,state: $stateParams.state,assetId:$stateParams.assetId})">设备信息</a></li>
			<li><a ui-sref="main.tre.ytz.purchase({id:$stateParams.id,state: $stateParams.state,assetId:$stateParams.assetId})">采购信息</a></li>
			<!-- <li ng-if='state == 2'><a ui-sref="main.tre.ytz.repair({id:$stateParams.id,state: $stateParams.state,assetId:$stateParams.assetId})">维修记录</a></li> -->
			<hr class="bottomline topbig" />
		</ul>
	</div>

</div>

<!-- 加载提醒 -->
<div ng-show="loading" class="text-center m-t-md text-lg"><i class="fa fa-spin fa-spinner"></i> 数据加载中...</div>

<!-- 内容区域 -->
<div class="wrapper-md ytz-detail m-t-none content">

	<div class="panel panel-default ay-minpanel">
		<!-- 头部 -->
		<div class="add-title">基本信息</div>
		<!--表单-->
		<div class="panel-body">
			<form class="form-horizontal" id="form1" name="assets_form">
				<div class="form-group" style="margin-top:0;">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft" for="assetsSpec">院内编码：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.serialNum}}</span>
						<input type="text" ng-if="state==0 || currentState ==3" class="form-control" ng-model="assetsDetailInfo.serialNum" name="serialNum" maxlength="40" id="serialNum" required>
					</div>

					<label class="col-lg-2 col-sm-2 control-label hd_textleft" for="assetsSpec">规格型号：</label>
					<div class="col-sm-4">
					<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.assetsSpec}}</span>
					<input type="text" ng-if="state==0 || currentState ==3" class="form-control" ng-model="assetsDetailInfo.assetsSpec" name="assetsSpec" maxlength="40" id="assetsSpec" required>
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">注册证号：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.regNo}}</span>
						<input type="text" maxlength="40" ng-if="state==0 || currentState ==3" class="form-control" ng-model="assetsDetailInfo.regNo" name="regNo" id="regNo">
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">出厂编号(SN)：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.factoryNum}}</span>
						<input type="text" maxlength="40" ng-if="state==0 || currentState ==3" class="form-control" id="factoryNum" ng-model="assetsDetailInfo.factoryNum" name="factoryNum">
					</div>

					</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft" >三级分类代码：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.threeLevelCode}}</span>
						<input ng-change='threetypecode()' maxlength="40" ng-trim='false' type="text" ng-if="state==0 || currentState ==3" class="form-control" id="classifyNum" onkeyup="this.value=this.value.match(/^6[0-9]*/)" ng-model="assetsDetailInfo.threeLevelCode" name="classifyNum">
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft" for="assetsBrand">品牌：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.assetsBrand}}</span>
						<input type="text" maxlength="40" ng-if="state==0 || currentState ==3" class="form-control" ng-model="assetsDetailInfo.assetsBrand" name="assetsBrand" id="assetsBrand">
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft" for="prodPlace">产地：</label>
					<div class="form-group assets-search-wrap col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.prodPlace}}</span>
						<input type="text" ng-if="state==0 || currentState ==3" class="form-control" readonly="readonly" ng-click="searchPlace($event)" ng-model="assetsDetailInfo.prodPlace" name="prodPlace" id="prodPlace">
						<b ng-if="state==0 || currentState ==3" class="caret search-caret"></b>
						<div class="dropdown-module assets-search" ng-show="isSearchPlace">
							<div class="search-wrap"></div>
						</div>
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">设备注册证名称：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.regName}}</span>
						<input type="text" maxlength="40" ng-if="state==0 || currentState ==3" class="form-control" ng-model="assetsDetailInfo.regName" name="regName" id="regName">
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">单位：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.unitName}}</span>

						<div class="batchSelecters assetsSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput" placeholder='请选择' readonly="true" ng-model="unitId.codeText" ng-click="assetsSelecters('unitIdListShow')" />
							<div class="batchSelectResWrap" ng-show='unitIdListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in UNIT track by $index" ng-click="assetsSelectersLiClick('unitId','unitIdListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--<select class="form-control" ng-options="unit.codeValue as unit.codeText for unit in hdunitIds " name="unit" ng-if="state==0" ng-model="assetsDetailInfo.unitId" placeholder="请选择管理科室"></select>-->
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">账簿类型：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.assetsTypeName}}</span>
						<!--<select ng-if="state==0" ng-change="getAssets(assetsDetailInfo.whId,1)" class="form-control" ng-options="wh.codeValue as wh.codeText for wh in hdwhIds" ng-model="assetsDetailInfo.whId"></select>-->
						<span class="newTreListInfoBody">
						<div class="batchSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput newTreListInfoInput newTreListInfoInput1" placeholder='请选择' readonly="true" ng-model="assetsType.codeText" ng-click="assetsSelecters('assetsTypeListShow')" />
							<div class="batchSelectResWrap" ng-show='assetsTypeListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in ACCOUNT_BOOK track by $index" ng-click="assetsSelectersLiClick('assetsType','assetsTypeListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						</span>
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">核算类别：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.assetsClassName}}</span>
						<!--<select class="form-control" ng-if="state==0" ng-options="hdassetsClass.codeValue as hdassetsClass.codeText for hdassetsClass in hdassetsClassIds" ng-model="assetsClassName" placeholder="请选择管理科室">-->
						<!--</select>-->
						<span class="newTreListInfoBody">
						<div class="batchSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput newTreListInfoInput newTreListInfoInput1" placeholder='请选择' readonly="true" ng-model="assetsClassId.codeText" ng-click="assetsSelecters('assetsClassIdListShow')" />
							<div class="batchSelectResWrap" ng-show='assetsClassIdListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in ACCOUNT_CATEGORY track by $index" ng-click="assetsSelectersLiClick('assetsClassId','assetsClassIdListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						</span>
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">管理级别：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.manageLevelName}}</span>
						<!--<select ng-if="state==0" class="form-control" ng-options="manage.codeValue as manage.codeText for manage in hdmanageLevels" ng-model="assetsDetailInfo.manageLevel" placeholder="请选择管理级别"></select>-->
						<span class="newTreListInfoBody">
						<div class="batchSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput newTreListInfoInput newTreListInfoInput1" placeholder='请选择' readonly="true" ng-model="manageLevel.codeText" ng-click="assetsSelecters('manageLevelListShow')" />
							<div class="batchSelectResWrap" ng-show='manageLevelListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in MANAGE_LEVEL track by $index" ng-click="assetsSelectersLiClick('manageLevel','manageLevelListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						</span>
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">计量类别：</label>
					<div class="col-sm-4">
						<span ng-if="state!=0 && currentState!=3" class="assets-info">{{assetsDetailInfo.measureTypeName}}</span>
						<span class="newTreListInfoBody">
						<div class="batchSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput newTreListInfoInput newTreListInfoInput1" placeholder='请选择' readonly="true" ng-model="measureType.codeText" ng-click="assetsSelecters('measureTypeListShow')" />
							<div class="batchSelectResWrap" ng-show='measureTypeListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in MEASURE_TYPE track by $index" ng-click="assetsSelectersLiClick('measureType','measureTypeListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						</span>
					</div>
                    <label class="col-lg-2 fy_formlabelleft col-sm-2 control-label hd_textleft">国产/进口：</label>
                    <span ng-if="state!=0&&currentState !=3" class="assets-info">{{assetsDetailInfo.madeIn==1?'国产':(assetsDetailInfo.madeIn==2?'进口':'')}}</span>
                    <div ng-if="state==0||currentState ==3" class="col-sm-4" style="height: 30px;line-height:30px;">
                        <div class="radio-list">
                            <input id="check_1" name="use" ng-model='assetsDetailInfo.madeIn'ng-value='1' type="radio">
                            <label class="check check-label" for="check_1">
                                <i class="fa fa-check"></i>
                            </label>
                            <label for="check_1">
                                国产
                            </label>
                        </div>
                        <div class="radio-list">
                            <input id="check_2" name="use" ng-model='assetsDetailInfo.madeIn'ng-value='2' type="radio">
                            <label class="check check-label" for="check_2">
                                <i class="fa fa-check"></i>
                            </label>
                            <label for="check_2">
                                进口
                            </label>
                        </div>
                    </div>
                </div>
			</form>
		</div>

		<div class="add-title">使用信息</div>
		<div class="panel-body">
			<form class="form-horizontal" id="form2" name="">
				<div style="margin-top:0;" class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">申购部门：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.applyDeptName}}</span>
						<input type="hidden" ng-model="assetsDetailInfo.applyDeptId" />
						<input ng-if="state==0 || currentState ==3" type="text" class="depetName form-control" ng-model="applyDepetName" ng-click="showdeptList(1)" readonly="readonly" placeholder="请输入部门名称" />
						<div class="depetList ay-deptList" ng-show="depetshow">
							<div class="inputdetName">
								<input class="detNameSearch" class="form-control" ng-trim="false" ng-model="keyword.nameSearch" type="text" ng-change="searchList()" />
							</div>
							<label ng-repeat="dept in deptList" ng-click="setDeptValue(dept.id,dept.name,1)" id="{{dept.id}}">{{dept.name}}</label>
						</div>
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">所在部门：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.deptName}}</span>
						<input type="hidden" ng-model="assetsDetailInfo.deptId" />
						<input  ng-if="state==0 || currentState ==3" type="text" class="depetName form-control" ng-model="depetName" ng-click="showdeptList(2)" readonly="readonly" placeholder="请输入部门名称" />
						<div class="depetList ay-deptList" ng-show="depetshow2">
							<div class="inputdetName">
								<input class="detNameSearch" class="form-control" ng-trim="false" ng-model="keyword.nameSearch" type="text" ng-change="searchList()" />
							</div>
							<label ng-repeat="dept in deptList" ng-click="setDeptValue(dept.id,dept.name,2)" id="{{dept.id}}">{{dept.name}}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">管理部门：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.manageDeptName}}</span>
						<input type="hidden" ng-model="assetsDetailInfo.manageDeptId" />
						<input ng-if="state==0 || currentState ==3" type="text" class="depetName form-control" ng-model="manageDepName" ng-click="showdeptList(3)" readonly="readonly" placeholder="请输入部门名称" />
						<div class="depetList ay-deptList" ng-show="depetshow3">
							<div class="inputdetName">
								<input class="detNameSearch form-control" ng-trim="false" ng-model="keyword.nameSearch" type="text" ng-change="searchList()" />
							</div>
							<label ng-repeat="dept in deptList" ng-click="setDeptValue(dept.id,dept.name,3)" id="{{dept.id}}">{{dept.name}}</label>
						</div>

					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">启用日期：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.startUseDate1}}</span>
						<input ng-if="state==0 || currentState ==3" type="text" readonly="readonly" ng-model="assetsDetailInfo.startUseDate1" name="startUseDate1" data-offset="istop" class="form-control input-datepicker">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">保修期至：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.warrantyDate1}}</span>
						<input type="text" ng-if="state==0 || currentState ==3" readonly="readonly" ng-model="assetsDetailInfo.warrantyDate1" data-offset="istop" name="warrantyDate1" class="form-control input-datepicker">
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">用途：</label>
					<div class="col-sm-4">
						<span class="assets-info" ng-if="state!=0 && currentState!=3">{{assetsDetailInfo.purposeName}}</span>
						<!--<select ng-if="state==0" ng-options="pur.codeValue as pur.codeText for pur in hdpusposes" class="form-control" ng-model="assetsDetailInfo.purpose">-->
						<!--</select>-->
						<span class="newTreListInfoBody">
						<div class="batchSelecters" ng-if="state==0 || currentState ==3">
							<input type="text" class="batchSelectInput newTreListInfoInput newTreListInfoInput1" placeholder='请选择' readonly="true" ng-model="purpose.codeText" ng-click="assetsSelecters('purposeListShow')" />
							<div class="batchSelectResWrap" ng-show='purposeListShow'>
								<div class="batchSelectRes">
									<ul class="batchSelectList">
										<li ng-repeat="l in PURPOSE track by $index" ng-click="assetsSelectersLiClick('purpose','purposeListShow',l)"><a>{{l.codeText}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="add-title">折旧信息</div>
		<div class="panel-body">
			<form class="form-horizontal" id="form3" name="">
				<div style="margin-top:0;" class="form-group">
					<label class="col-lg-2 col-sm-2 control-label hd_textleft " for="assetsSpec">折旧年限：</label>
					<div class="col-sm-4">
						<span class="assets-info">{{assetsDetailInfo.oldYear}}<span ng-if="assetsDetailInfo.oldYear">年</span></span>
						<!--<input type="text" ng-if="state==0" class="form-control" ng-model="assetsDetailInfo.oldYear" name="depreciation" id="depreciation" required disabled>-->
					</div>
					<label class="col-lg-2 col-sm-2 control-label hd_textleft">设备原值：</label>
					<div class="col-sm-4">
						<span class="assets-info">{{assetsDetailInfo.priceStr}}</span>
						<!--<input type="text" ng-if="state==0" class="form-control" ng-model="assetsDetailInfo.price" name="originalValue" id="originalValue" disabled>-->
					</div>
				</div>
				<div ng-hide="true" class="form-group">
				<label class="col-lg-2 col-sm-2 control-label hd_textleft" for="assetsSpec">折旧残值：</label>
				<div class="col-sm-4">
					<span class="assets-info">{{assetsDetailInfo.lessPrice}}</span>
					<!--<input type="text" ng-if="state==0" class="form-control" ng-model="assetsDetailInfo.lessPrice" name="salvage" id="salvage" required disabled>-->
				</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--验收弹窗-->
<div class="pad-fifty pass-wrap" id="checkWinCon" ng-show="checkWin">
	<div class="text-left">
		<label>验收结果:</label>
		<div style="display: inline-block;">
			<div class="box1">
				<input ng-click="radioFn(2)" type="radio" id="check-1" name="evaluation" class="input ng-valid ng-not-empty ng-dirty ng-touched" ng-model="radioV"  ng-value="2">
				<span></span>
			</div>
			<label for="check-1" class="ng-binding">通过</label>
		</div>
		<div style="display: inline-block;">
			<div class="box1">
				<input type="radio"  ng-click="radioFn(3)" id="check-2" name="evaluation" class="input ng-valid ng-not-empty ng-dirty ng-touched" ng-model="radioV" ng-value="3">
				<span></span>
			</div>
			<label for="check-2" class="ng-binding">不通过</label>
		</div>
	</div>
	<div class="text-left">
		<label>验收日期:</label>
		<input ng-model="checkDate" readonly class="verifydata" name="verifydata" id="verifydata"/>
	</div>
	<div class="text-left verifyDiv">
		<label>验收说明:</label>
		<textarea placeholder="请输入验证通过说明（非必填）" id="verifycontent" ng-model="verifycontent" ng-change="verifyConChange()" name="verifycontent" ng-trim="false" maxlength="300" class="verifycontent"></textarea>
		<div class="verifyConNum">{{verifyConNum}}/300</div>
	</div>
</div>
<!--验收弹窗end-->

<!-- 打印 -->
 <div class="printthis" ng-show='printIt'>
    <div  id="printIt">
		<div class="table-b-show">
			<table style="width:100%;height:100%;">
				<tr><td colspan="3" style="text-align:center;"><font style="width:1px;height:1px">{{userInfo.tenantName}}-固定资产标签</font></td></tr>
				<tr>
	                <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">设备编号</td>
	                <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsNum}}</td>
	            </tr>
	            <tr ng-if="assetsDetailInfo.serialNum">
	                <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">院内编码</td>
	                <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.serialNum}}</td>
	            </tr>
	            <tr>
	                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">设备名称</td>
	                <td colspan="2" style="border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsName}}</td>  
	            </tr>
	            <tr>
	                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">规格/品牌</td>
	                <td colspan="2" style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsSpec}}{{assetsDetailInfo.assetsBrand?'（'+assetsDetailInfo.assetsBrand+'）':''}}</td>
	            </tr>
	            <tr>
	                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">出厂编号</td>
	                <td style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;word-break: break-all;">{{assetsDetailInfo.factoryNum}}</td>
	                <td rowspan="3" align=center style="width:75px;">
	                    <img style="margin-top:0px;" width="75px" height="75px" ng-src="/api/assets/assetsInfo/getQRCode/{{assetsDetailInfo.assetsId}}" alt=""/>
	                </td>
	            </tr>
	            <tr>
	                <td style="border-right: 1px hidden black;">所在部门</td>
	                <td style="border-right: 1px hidden black;padding:2px;">{{assetsDetailInfo.deptName}}</td>
	            </tr>
	            <tr>
	                <td style="border-right: 1px hidden black;">启用日期</td>
	                <td style="border-right: 1px hidden black;padding:2px;">{{dateToTime(assetsDetailInfo.startUseDate)}}</td>
	            </tr>
			</table>
		</div>
	 </div>
    <div class="printBtn"><span class="print">打印</span></div>
 </div>
 <div id="print-table" style="position: fixed;display:none;">	
 <!--startprint-->
 <div class="table-b-print">
		<table style="width:100%;height:100%;">
			<tr><td colspan="3" style="text-align:center;"><font style="width:1px;height:1px">{{userInfo.tenantName}}-固定资产标签</font></td></tr>
			<tr>
                <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">设备编号</td>
                <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsNum}}</td>
            </tr>
            <tr ng-if="assetsDetailInfo.serialNum">
	            <td width="55px" style="border-top: 1px hidden black;border-bottom: 1px hidden black;border-right: 1px hidden black;">院内编码</td>
	            <td colspan="2" style="border-top: 1px hidden black;border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.serialNum}}</td>
	        </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">设备名称</td>
                <td colspan="2" style="border-bottom: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsName}}</td>  
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">规格/品牌</td>
                <td colspan="2" style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;">{{assetsDetailInfo.assetsSpec}}{{assetsDetailInfo.assetsBrand?'（'+assetsDetailInfo.assetsBrand+'）':''}}</td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;border-bottom: 1px hidden black;">出厂编号</td>
                <td style="border-bottom: 1px hidden black;border-right: 1px hidden black;padding:2px;word-break: break-all;">{{assetsDetailInfo.factoryNum}}</td>
                <td rowspan="3" align=center style="width:75px;">
                    <img style="margin-top:0px;" width="75px" height="75px" ng-src="/api/assets/assetsInfo/getQRCode/{{assetsDetailInfo.assetsId}}" alt=""/>
                </td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;">所在部门</td>
                <td style="border-right: 1px hidden black;padding:2px;word-break: break-all;">{{assetsDetailInfo.deptName}}</td>
            </tr>
            <tr>
                <td style="border-right: 1px hidden black;">启用日期</td>
                <td style="border-right: 1px hidden black;padding:2px;word-break: break-all;">{{dateToTime(assetsDetailInfo.startUseDate)}}</td>
            </tr>
		</table>
 </div>
 <!--endprint-->

</div>

