body, div, img, input {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	min-width: 1366px;
	min-height: 768px;
	/*background-color: #fff !important;*/
	overflow: scroll;
}
a {
	text-decoration: none;
}
.loginHTML input {
	line-height: 34px;
	height: 34px;
	font-size: 14px;
	color: #666;
	border: none;
	border-radius: 3px;
	border: 1px solid #b5b5b5;
}
.loginHTML input:focus {
	outline-color: #f7931e;
	outline-width: 1px;
	border: 1px solid #f7931e;
}
.loginHTML label {
	font-size: 12px;
	display: block;
	color: #ed5a53;
	line-height: 22px;
	height: 24px;
}
.loginHTML label span {
	margin: 0px;
	color: #ed5a53;
	padding-left: 18px;
	display: block;
	background-image: url(../img/err.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
/**/
.loginHTML .header {
	height: 120px;
	line-height: 120px;
	padding-left: 60px;
}
.loginHTML .header i {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.loginHTML .header img {
	vertical-align: middle;
}

/**/
.loginHTML .conWrap {
	/*background-image: url(../img/3.png);*/
	/* background-size: 100% 100%; */
	background-size: contain;
	height: 740px;
	position: relative;
	overflow: hidden;
}
.loginHTML .bcgImg {
	position: absolute;
	left: calc(50% - 960px);
}
.loginHTML .con {
	width: 300px;
	height: 262px;
	position: absolute;
	top: 50%;
	right: 24.57%;
	transform: translateY(-50%);
	background-color: #fff;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
}
.loginHTML .conTit {
	font-size: 18px;
	text-align: left;
	height:59px;
	/*line-height: 81px;*/
}
.loginHTML .longInput {
	width: 260px;
	padding-left: 28px;
	background-position: 14px 8px;
	background-repeat: no-repeat;
	text-indent: 10px;
	margin-bottom: 30px;
}
.loginHTML .userName {
	background-image: url(../img/1.png);
}
.loginHTML .passWord {
	background-image: url(../img/2.png);
}
.loginHTML .shortInput {
	width: 118px;
	text-indent: 14px;
	vertical-align: middle;
}
.loginHTML .proveImg {
	vertical-align: middle;
	display: inline-block;
	width: 118px;
	height: 34px;
	margin-left: 10px;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	text-align: center;
}
.loginHTML .proveImg img {
	height: 34px;
}
/*.loginHTML input[type='checkbox'] {*/
	/*display: none;*/
	/*height: auto;*/
/*}*/
/*.loginHTML input:checked + label span {*/
	/*background-image: url(../img/checked.png);*/
	/*border: none;*/
	/*width: 16px;*/
	/*height: 16px;*/
/*}*/
.loginHTML .oprate a {
	float: right;
	color: #1c95f5;
	font-size: 12px;
}
.loginHTML span.error {
	visibility: visible;
	background-position: 1px 4px;
	display: inline-block;
	margin: 0px;
	height: 24px;
	line-height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/err.png);
	padding-left: 21px;
}
.loginHTML .checkit {
	height: 16px;
	visibility: visible;
	font-size: 12px;
	width: auto;
	line-height: 16px;
	margin-bottom: 23px;
	margin-top: -3px;
	padding-left: 0px;
	vertical-align: middle;
	background-image: none;
}
.loginHTML .checkit span, .checkit i {
	vertical-align: middle;
	display: inline-block;
	font-style: normal;
	padding: 0px;
	background-position: 0px 0px;
	color: #666666;
}
.loginHTML .checkit span {
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	width: 16px;
	background-image: none;
	background-repeat: no-repeat;
	margin-right: 11px;
	height: 16px;
}
.loginHTML input[type='submit'] {
	width: 260px;
	height: 45px;
	color: #fff;
	border: 1px solid #f7931e;
	margin-bottom: 38px;
	border-radius: 3px;
	font-weight: bold;
	background-color: #f7931e;
	margin-top: 30px;
}
.loginHTML .loginSubmitBtn{
	width: 260px;
	height: 45px;
	color: #fff;
	border: 1px solid #f7931e;
	margin-bottom: 38px;
	border-radius: 3px;
	font-weight: bold;
	background-color: #f7931e;
	margin-top: 30px;
}
/*.loginHTML{*/
	/*width: 260px;*/
	/*height: 45px;*/
	/*color: #fff;*/
	/*border: 1px solid #f7931e;*/
	/*margin-bottom: 38px;*/
	/*border-radius: 3px;*/
	/*font-weight: bold;*/
	/*background-color: #f7931e;*/
	/*margin-top: 30px;*/
/*}*/
.loginHTML input[type='submit']:hover{
	background-color:#ffac4a;
}

.loginHTML input:disabled{
	color:#fff!important;
}
.oprate{
	height: 30px;
	line-height: 30px;
	margin-top: -30px;
}
.clear::-ms-clear { display: none;}
.clear::-ms-reveal { display: none;}



.loginHTML .footer {
	position: relative;
	font-size: 12px;
	color: #666666;
	text-align: center;
	line-height: 22px;
	padding-top: 22px;
	padding-bottom: 23px;
	background-color: #fff;
}
body .layui-layer-btn  .layui-layer-btn0 {
	background-color: #f7931e;
	color: #fff;
	margin-right: 40px;
	line-height:34px;
}
body .layui-layer-btn a {
	height: 34px;
	border: none;
	margin: 0px;
	width: 86px;
	border:1px solid #c5c5c5;
	color: #666;
	line-height: 34px;
	font-size: 14px;
}
.choose{
	color: #999;
}
.choose>span:first-child{
	margin-right: 10px;
	color: #666;
	cursor: pointer;
}
.choose>span:nth-child(2){
	margin-left: 10px;
	cursor: pointer;
}
.warn{
	margin-top: -30px;
	line-height: 30px;
	min-height: 30px;
	font-size: 15px;
	color: #ff2a2a;
}
.getMessage{
	height: 34px;
	border-radius: 3px;
	background-color:#f7931e ;
	display: inline-block;
	width:90px;
	margin-left: 20px;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	margin-top: -34px;
	float: right;
	position: relative;
	right: -10px;
	outline: none;
	border: #f7931e;
}
.getMessage:hover{
	background:#ffac4a ;
}
form>input.sendMessage{
	float: left;
	width: 150px;
	background-image: url(../img/yanzhengmabe.png);
	background-repeat: no-repeat;
	padding-left: 28px;
	background-position: 14px 8px;
	text-indent: 10px;
}
.reset>div:first-child{
	color: #999;
}
.resetPass{
	margin-top: 30px;
}
.titlelogin{
	color: #719291;
	font-size: 18px;
	position: relative;
	top:13px;
	left: 5px;
}
.daojishi{
	background: #ccc;
	color: #000;
	border:#ccc !important;
}
input[type=button]{
	color: #fff;
	border: #f7931e;
}
.maxtime{
	position: relative;
	top:65px;
}
form input{
	color: #666;
}
::-webkit-input-placeholder {
	color: #bebebe;
}
