
<div class="body-addDev">
	<div class="wrap-head bcgc-white margin0">
		<div class="i-which">
			<input type="text" value="请输入科室名称" />
		</div>
		<div class="i-which">
			<input type="text" value="设备名称/编号/合同号" />
		</div>
		<div class="t-search">
			<a href="javascript:;">搜索</a>
		</div>
	</div>
	<div class="con-dev">
		<div class="dev-list">
				<table border="0" cellspacing="0" cellpadding="0" class="dev-table">
					<tbody>
						<tr class="tb-tr-th">
							<th><input id="check_" type="checkbox"  ng-model="all">
								<label class="check check-label" for="check_">
                                <i class="fa fa-check"></i>
                            </label></th>
							<th style="width: 13.1%;">设备编号</th>
							<th style="width: 13.66%;">设备名称</th>
							<th style="width: 12.66%;">合同号</th>
							<th style="width: 10.4%;">规格型号</th>
							<th style="width: 17.17%;">生产商</th>
							<th style="width: 15.82%;">供应商</th>
							<th style="width: 10.4%;">所属科室</th>
						</tr>
						<tr ng-repeat="tr in addData" ng-class="{'b-b-tr':$index == addData.length-1}">
							<td class="b-l-dcdcdc">
								<input id="{{tr.ckid}}" type="checkbox"  ng-checked="all">
								<label class="check check-label opcity" for="{{tr.ckid}}">
                                <i class="fa fa-check"></i>
                            </label></td>
                            <td><div>{{tr.one}}</div></td>
                            <td><div>{{tr.two}}</div></td>
                            <td><div>{{tr.three}}</div></td>
                            <td><div>{{tr.four}}</div></td>
                            <td><div>{{tr.five}}</div></td>
                            <td><div>{{tr.six}}</div></td>
                            <td><div>{{tr.seven}}</div></td>
                        </tr>
					</tbody>
				</table>
				<div class="pages-foot">
					<div class="pages-content">
						<div class="selected-dev"><span>已选中<i>2</i>个设备</span></div>
						<div class="pages-ctrl">
							<a href="javascript:;"><i style="background: url(../../../../res/img/first.png) no-repeat center;"></i></a>
							<a href="javascript:;"><i style="background: url(../../../../res/img/pre.png) no-repeat center;"></i></a>
							<span><em>第</em><input type="text" value="4"/><em>/5页</em></span>
							<a href="javascript:;"><i style="background: url(../../../../res/img/next.png) no-repeat center;"></i></a>
							<a href="javascript:;"><i style="background: url(../../../../res/img/last.png) no-repeat center;"></i></a>
							<a href="javascript:;"><i style="background: url(../../../../res/img/go.png) no-repeat center;"></i></a>
							<a href="javascript:;"><i style="background: url(../../../../res/img/f5.png) no-repeat center;"></i></a>
						</div>
						<div class="page-total">
							<span>共43条，每页显示</span><strong>8</strong><span>条</span>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
</body>
