      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="javascript:void(0);" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
           <img src="../../res/img/logo.png" alt="."> 
          <!--<span class="hidden-folded m-l-xs">{{app.name}}</span>-->
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <!--<div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn text-white" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
        </div>-->
        <!-- / buttons -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs m-t-md">
            <!--<a ui-fullscreen></a>-->
            <span class="m-r-md">杭州市第一人民医院</span>
            <span class="m-r-md">心内科</span>
          </li>
          <li class="dropdown">
            <a href class="dropdown-toggle clear" data-toggle="dropdown">
            	
              <span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-r-sm">
                <img alt="{{userInfo.userName || userInfo.account}}" ng-src="{{'res/img/tx.png' || userInfo.avatar || defaultAvatar}}">
                <!--<i class="on md b-white bottom"></i>-->
              </span>
              <span class="hidden-sm hidden-md" ng-bind="userInfo.userName || userInfo.account"></span> <b class="caret"></b>
              
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu usersInfo">
            <a  ng-click="logout();" class="logout">退出</a>
            <div class="users"><span>张楚明</span><span class='power'>医院超管</span></div>
            <ul>
              <li><a ui-sref="main.users.jbxx.jbxx"><img src="../../../res/img/101.png" alt=""><img src="../../../res/img/111.png" class="imgHover">基本信息</a></li>
              <li class="borderL1"><a ui-sref="main.users.zzrz.zzrz"><img src="../../../res/img/202.png" alt=""><img src="../../../res/img/212.png" class="imgHover">资质认证</a></li>
              <li><a ui-sref="main.users.wdsz.aqsz"><img src="" alt=""><img src="../../../res/img/303.png" alt=""><img src="../../../res/img/313.png" class="imgHover">我的设置</a></li>
              <li class="borderL1"><a ui-sref="main.users.zzjg.zzjg"><img src="../../../res/img/404.png" alt=""><img src="../../../res/img/414.png" class="imgHover">组织机构</a></li>
              <li><a ui-sref="main.users.jsqx.jsqx"><img src="" alt=""><img src="../../../res/img/505.png" alt=""><img src="../../../res/img/515.png" class="imgHover">角色权限</a></li>
              <li class="borderL1"></li>
            </ul>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="m-l-sm m-r-lg m-t-sm msg-clock">
          	<span>
          		<img src="../../res/img/9.png"/>
          		<a href="javascript:;">32</a>
          	</span>
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->


<!-- find -->
<div class="mySetWrap">
	<div class="mySet">
		<div class="repair">
			<div class="proFlow borderBottom0">
				<img src="../../res/img/first1.png" alt="" ng-if='first'>
				<img src="../../res/img/second.png" alt="" ng-if='second'>
				<img src="../../res/img/third.png" alt="" ng-if='third'>
				<img src="../../res/img/findSuc.png" alt="" ng-if='findSuc'>
				<i></i>
			</div>
			<div class="findCode">
				<div class="write" ng-if='first'>
					<div class="loginUser"><span>账号：</span><input type="text" placeholder='手机号/邮箱'></div>
					<div class="errMsg"><span>用户名不存在</span></div>
					<div class="passCode"><span>验证码：</span><input type="text" placeholder='请输入验证码'><em></em><a href="javascript:;">换一张</a></div>
					<div class="errMsg padddingBottom58"><span>验证码错误</span></div>
				</div>
				<div ng-if='!first&&!third&&!findSuc' class='secondStep'>
				<div class="phoneN"><span><i>您绑定的手机号为：</i><em>126********</em><a href="javascript:;">已换号？</a></span><button ng-click='from.send=!from.send'>获取验证码</button></div>
				<div class="emailA"><span><i>您绑定的邮箱地址为：</i><em>m**********@qq.com</em></span><button ng-click='from.send=!from.send'>获取验证码</button></div>
				<div class="codeGot">
					<span class='comcode'>验证码：</span><input type="text" placeholder="请输入验证码" name="codes" ng-model='from.codes'>
				</div>
				<div class="prompt paddingLeft60">
					<div class="hasSent" ng-show='from.send'>校验码已发出，请注意查收短信，如果没有收到，你可以在<em>60</em>秒后要求系统重新发送</div>
					<div class="codeErr" ng-show='!from.codes'>验证码错误，请确认后重新输入</div>
				</div>
				</div>
				<div class="thirdStep" ng-if='third&&!findSuc'>
					<form class="codeset">
					<div><span>新密码：</span><input type="password" ng-model='from.newCode' id="newCode"></div>
					<label for="newCode"><i>8-20位字符，可使用字母、数字或符号的组合</i></label>
					<div><span>确认新密码：</span><input type="password" ng-model='from.repeatCode' id="repeatCode"></div>
					<label for="repeatCode"><em>{{from.notRepeat}}</em></label>
				</form>
				</div>
			</div>
			<div class="codeBtn" ng-if='!findSuc'>
				<a href="javascript:;" ng-click='pre()' class="preStep" ng-if='!first'>上一步</a><a href="javascript:;" ng-click='next()'>下一步</a>
			</div>
			<div class="succ" ng-if='findSuc'>
				<img src="../../res/img/cg.png" alt="">
				<div>恭喜，重置密码成功！</div>
			</div>
		</div>
	</div>
</div>