<div class="supplierCredentials">
	<div class="supplierCredentialWrap" ng-repeat='credential in credentials'>
		<div class="supplierCredentialImg">
			<img src="../../res/img/credentialDefault.png" ng-src='{{credential.imageUrl?("/api/file"+credential.imageUrl):"../../res/img/file-pic.png"}}'>
		</div>
		<div class="supplierCredentialInfos">
			<div class="supplierCredentialName">{{credential.type==1?'组织机构代码证':(credential.type==2?'营业执照':(credential.type==3?'医疗器械经营许可证':'税务登记证'))}}</div>
			<div class="supplierCredentialInfo"><span class='supplierCredentialInfoHead supplierCredentialInfoCodeHead'>编<em>编号</em>号：</span><div class="supplierCredentialInfoCodeBody">{{credential.code}}</div></div>
			<div class="supplierCredentialInfo"><span class='supplierCredentialInfoHead'>有效期至：</span><span>{{credential.expireTime | date:'yyyy-MM-dd'}}</span></div>
		</div>
		<div class="supplierCredentialLabel" ng-if='credential.unused'>已过期</div>
		<a href='javascript:;' class="supplierCredentialReupload" ng-click='credentialsUpload(1,credential)'>重新上传</a>
	</div><div class="supplierCredentialAdd supplierCredentialWrap" ng-repeat='one in credentialAddList'>
		<div class="supplierCredentialAddCon"><img src="../../res/img/addbill.png"><span>上传{{one.type==1?'组织机构代码证':(one.type==2?'营业执照证':(one.type==3?'医疗器械经营许可证':'税务登记证'))}}</span></div>
		<a class="supplierCredentialAddBtn" ng-click='credentialsUpload(0,one)'></a>
	</div>
	<div id="credentialsUploadWrap" style='display:none;'>
		<div class='credentialsUpload'>
			<div>
				<span class='credentialsUploadSpan'>{{obj.type==1?'组织机构代码证':(obj.type==2?'营业执照注册号':(obj.type==3?'医疗器械经营许可证':'税务登记证'))}}：</span>
				<input type="text" ng-model="obj.code" class="" >
			</div>
			<div class="credentialsUploadDiv">
				<span class='credentialsUploadSpan'>{{obj.type==1?'组织机构代码证':(obj.type==2?'营业执照注册号':(obj.type==3?'医疗器械经营许可证':'税务登记证'))}}照片：</span>
				<div class="picfile">
					<div ng-mouseenter="imgChangeFn(obj)" ng-mouseleave="imgChangeFn2(obj)" class="picfileCon">
						<input ng-hide="true" type="file" id="imgFiles" onchange="angular.element(this).scope().setImagePreview(this)">
						<i ng-if="!obj.imgClick" ng-show="!obj.imgClick" class="file-i" ng-click="fileImg(obj)"></i>
						<img ng-if="obj.imgClick" ng-show="obj.imgClick" class="file-i" src="{{obj.imgSrc}}" ng-click="fileImg(obj)" alt="">
						<div ng-if="obj.imgChange" ng-show="obj.imgChange" class="hd_imgDelet"><i ng-click="fileImg(obj)">更换</i><i ng-click="delect(obj)">删除</i></div>
					</div>
					<span style="vertical-align: bottom;color: #999;">照片大小需≤2M</span>
				</div>
			</div>
			<div class="credentialsUploadDiv">
				<span class='credentialsUploadSpan'>有效期至：</span>
				<input type="text" readonly="readonly" placeholder='请选择时间' id="datepickerUpload" class="input-datepicker">{{obj.expireTimtTxt}}
			</div>
			<div class="credentialsUploadBtn">
				<a href="javascript:;" ng-click='credentialsSave()'>提交</a>
			</div>
		</div>
	</div>
</div>