<div class="pm-add">
    <div class="pm-top">
        <a ui-sref="pm.menu.plan" style="color: #999;">PM计划</a>&gt;
        <span>新建PM计划</span>
        <span class="pm-btn" ng-click="addPlan()">保存</span>
    </div>
    <div class="pm-main" style="min-height: {{data.height}}px;">
        <div class="row" style="font-weight: 400; color: #666;">
            <span class="require">*</span>选择设备：
            <span class="err" ng-if="data.err.equipment">*请选择设备</span>
        </div>
        <div style="margin-bottom: 10px;">
            <pm-select list="data.departments" change="changeDepart" item="data.selectDepart"></pm-select>
            <input class="keyword" type="text" placeholder="设备名称/设备编号" ng-model="data.condition.keyword">
            <span class="pm-btn search-btn" ng-click="search()">搜索</span>
        </div>
        <table>
            <thead>
                <tr>
                    <td style="width: 80px;">
                        <span class="checkbox2 checked2" style="float: left; margin-top: 5px; margin-right: 5px;" ng-if="data.checkAll" ng-click="chooseAll(false)"></span>
                        <span class="checkbox2" style="float: left; margin-top: 5px; margin-right: 5px;" ng-if="!data.checkAll" ng-click="chooseAll(true)"></span>
                        <!--  <input type="checkbox" ng-model="data.checkAll" ng-click="chooseAll()"> -->全选
                    </td>
                    <td>设备编号</td>
                    <td>设备名称</td>
                    <td>规格型号</td>
                    <td>出厂编号</td>
                    <td>所在部门</td>
                    <td>购入日期</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in data.list">
                    <td>
                        <!--  <input type="checkbox" ng-model="v.checked" ng-click="chooseOne(v)"> -->
                        <span class="checkbox2 checked2" ng-if="v.checked" ng-click="chooseOne(v, false)"></span>
                        <span class="checkbox2" ng-if="!v.checked" ng-click="chooseOne(v, true)"></span>
                    </td>
                    <td>{{v.no}}</td>
                    <td>{{v.name}}</td>
                    <td>{{v.model}}</td>
                    <td>{{v.serialNo}}</td>
                    <td>{{v.departmentName}}</td>
                    <td>{{v.buyDate | date:'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>
        <!-- empty -->
        <div class="empty" style="width: 80%;" ng-if="data.empty && !data.loading">
            <img src="../../../res/img/nocontent.png">暂无数据</div>
        <!-- loading -->
        <div class="loading" style="width: 80%;" ng-if="data.loading">
            <img src="../../../res/img/loading2.gif">
        </div>
        <table>
            <tr>
                <td style="border: 0; padding-left: 0;">已选择：
                    <span class="count">{{data.plan.equipments.length}}台</span>设备</td>
                <td style="border: 0;">
                    <span ng-if="!data.loading && !data.empty" data-ng-include=" 'src/tpl/newPageInfo.html' "></span>
                </td>
            </tr>
        </table>
        <dl>
            <dt>
                <span class="require">*</span>PM模板：</dt>
            <dd>
                <span ng-if="data.plan.template.id > 0">{{data.plan.template.name}}&nbsp;&nbsp;</span>
                <span class="pm-btn choose-template-btn" ng-click="showTemplateDialog()">选择模板</span>
                <div class="err" ng-if="data.err.template">*请选择模板</div>
            </dd>
            <dt>
                <span class="require">*</span>设置周期：</dt>
            <dd>
                <input class="cycle" type="text" placeholder="请输入数字" ng-model="data.plan.cycle" ng-change="checkNum()">月
                <div class="err" ng-if="data.err.cycle">*请设置周期</div>
            </dd>
            <dt>
                <span class="require">*</span>PM等级：</dt>
            <dd>
                <pm-select list="data.status" change="changeStatus" item="data.selectStatus"></pm-select>&nbsp;
                <div class="err" ng-if="data.err.level">*请选择等级</div>
            </dd>
            <dt>
                <span class="require">*</span>实施开始日期：</dt>
            <dd>
                <input id="startDate" class="dt" type="text" placeholder="选择开始日期" readonly="readonly">
                <div class="err" ng-if="data.err.date">*请选择实施开始日期</div>
            </dd>
            <dt>
                <span class="require">*</span>选择负责人：</dt>
            <dd>
                <span ng-if="data.plan.director.id > 0">{{data.plan.director.realName}}&nbsp;&nbsp;</span>
                <span class="pm-btn choose-user-btn" ng-click="showUserDialog()">选择人员</span>
                <div class="err" ng-if="data.err.director">*请选择人员</div>
            </dd>
            <dt>报告验收人：</dt>
            <dd>
                <span ng-if="data.plan.checkMan.id > 0">{{data.plan.checkMan.realName}}&nbsp;&nbsp;</span>
                <span class="pm-btn choose-user-btn" ng-click="showCheckUserDialog()">选择人员</span>
                <span class="pm-btn" style="padding: 0 20px;" ng-click="removeCheckUser()">删除</span>
            </dd>
        </dl>
    </div>
</div>
<!-- 选择模板 -->
<div id="template_templates" style="display: none;">
    <table class="pm-choose-template">
        <tbody>
            <tr>
                <td style="width: 300px; vertical-align: top;">
                    <div class="pm-choose-template-search">
                        <input type="text" placeholder="模板名称" ng-model="data.templateName">
                        <span class="pm-btn" ng-click="getTemplatesForPlan()">搜索</span>
                    </div>
                    <div class="pm-choose-template-list">
                        <table>
                            <thead>
                                <tr>
                                    <td>模板名称</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-tr" ng-repeat="v in data.templates" ng-click="chooseTemplate(v)">
                                    <td>
                                        <span class="{{data.chooseTemplate.id === v.id ? 'single checked' : 'single'}}"></span>
                                        <div class="name" style="width:{{v.type === 1 ? 150 : 200;}}px;margin:0;">{{v.name}}</div>
                                        <div class="tpl" ng-if="v.type === 1">系统模板</div>
                                    </td>
                                </tr>
                                <tr ng-if="data.templates.length < 1">
                                    <td style="height: 380px;vertical-align: top;">暂无相应模板，请到PM模板中
                                        <a ui-sref="pm.menu.template" target="_blank" style="color: #f7931e;">添加&gt;&gt;</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <div class="pm-choose-template-info" ng-if="data.chooseTemplate.id > 0">
                        <dl>
                            <dt>已选模板：</dt>
                            <dd>{{data.templateInfo.name}}&nbsp;</dd>
                        </dl>
                        <table>
                            <thead>
                                <tr>
                                    <td style="width: 50px;">序号</td>
                                    <td style="text-align: left;">项目名称</td>
                                    <td style="text-align: left;">项目内容及说明</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" v in data.templateInfo.items">
                                    <td>{{$index + 1}}</td>
                                    <td style="text-align: left;">{{v.name}}
                                        <span class="tag" ng-if="v.status > 1">已停用</span>
                                    </td>
                                    <td style="padding: 0; text-align: left;">
                                        <div class="div" style="padding: 8px 10px;" ng-repeat="o in v.options">{{o.name}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pm-choose-template-info" style="line-height: 450px; text-align: center;" ng-if="data.chooseTemplate.id < 1">
                        <img src="../../../res/img/nocontent.png">&nbsp;暂无数据</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 选择负责人 -->
<div id="template_user" style="padding: 10px;display: none;">
    <table class="pm-choose-uer">
        <thead>
            <tr>
                <td style="padding-left: 45px;">姓名</td>
                <td style="width: 130px;">手机号</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in data.users" ng-click="chooseUser(v)">
                <td>
                    <span class="{{data.chooseUser.id === v.id ? 'pm-choose-uer-radio checked' : 'pm-choose-uer-radio'}}"></span>
                    <div class="pm-choose-uer-name">{{v.realName}}</div>
                </td>
                <td style="width: 130px;">{{v.mobile}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 选择验收人 -->
<div id="template_user_check" style="padding: 10px;display: none;">
    <table class="pm-choose-uer">
        <thead>
            <tr>
                <td style="padding-left: 45px;">姓名</td>
                <td style="width: 130px;">手机号</td>
                <td>所在部门</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in data.checkUsers" ng-click="chooseCheckUser(v)">
                <td>
                    <span class="{{data.checkUser.id === v.id ? 'pm-choose-uer-radio checked' : 'pm-choose-uer-radio'}}"></span>
                    <div class="pm-choose-uer-name">{{v.realName}}</div>
                </td>
                <td style="width: 130px;">{{v.mobile}}</td>
                <td>{{v.deptName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 保存 -->
<div id="template_save" class="inspectionLayer" style="display: none; text-align: center;">
    <div>
        <div>
            <div class="inspectionLayerImg m-t-lg m-b-md">
                <img src='../../res/img/wh.png'>
            </div>
            <div>
                <span>确定要保存吗？</span>
            </div>
        </div>
    </div>
</div>