<div class="pm-report">
    <div class="pm-top">
        PM报告查询
    </div>
    <div class="pm-main" style="min-height: {{data.height}}px;">
        <div class="pm-main-search">
            <pm-select list="data.types" item="data.selectType" change="changeType"></pm-select>&nbsp;&nbsp;
            <span>提交日期：</span>
            <input class="dt" id="startDt" readonly="readonly" type="text" ng-value="data.condition.startDt | date:'yyyy-MM-dd'">
            <span>&nbsp;&nbsp;至&nbsp;&nbsp;</span>
            <input class="dt" id="endDt" readonly="readonly" type="text" ng-value="data.condition.endDt | date:'yyyy-MM-dd'">&nbsp;&nbsp;
            <pm-select list="data.departments" item="data.selectItem" change="changeItem"></pm-select>
            <input type="text" placeholder="设备名称/设备编号" ng-model="data.condition.keyword">
            <span class="pm-btn" ng-click="search()">搜索</span>
        </div>
        <table class="pm-main-list">
            <thead>
                <tr>
                    <td style="width: 50px;">序号</td>
                    <td>报告编号</td>
                    <td>设备编号</td>
                    <td>设备名称</td>
                    <td>规格型号</td>
                    <td>所在部门</td>
                    <td style="width: 90px;">PM周期</td>
                    <td style="width: 100px;">提交日期</td>
                    <td>负责人</td>
                    <td>状态</td>
                    <td style="width: 60px;">操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" v in data.list">
                    <td style="width: 50px;">{{(pageInfo.current - 1) * pageInfo.size + $index + 1}}</td>
                    <td>{{v.reportNo}}</td>
                    <td>{{v.no}}</td>
                    <td>{{v.name}}</td>
                    <td>{{v.model}}</td>
                    <td>{{v.departmentName}}</td>
                    <td style="width: 90px;">{{v.cycle}}个月</td>
                    <td style="width: 100px;">{{v.submitDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{v.directorName}}</td>
                    <td>{{v.status == 1 ? '待验收' : '已验收'}}</td>
                    <td style="width: 60px;">
                    	<a ng-click="browse(v.id)">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <span ng-if="!data.loading && !data.empty" data-ng-include=" 'src/tpl/newPageInfo.html' "></span>
        <!-- empty -->
        <div class="empty" ng-if="data.empty && !data.loading"><img src="../../../res/img/nocontent.png">暂无数据</div>
        <!-- loading -->
        <div class="loading" ng-if="data.loading"><img src="../../../res/img/loading2.gif"></div>
	</div>
</div>

<!-- 查看实施报告 -->
<div data-ng-include="'src/app/pm/html/template_report.html'" class="pm-report-dialog" id="template_report" style="display: none;"></div>