<div class="metering-nav">
    <span>计量检测</span>
</div>
<div class="metering-swrap">
    <div class="metering-search">
        <aek-select list="data.local.typeOptions" change="methods.changeType" item="data.local.currentType" style="width: 150px;"></aek-select>
        <aek-select list="data.local.departOptions" change="methods.changeDepart" item="data.local.currentDepart"></aek-select>
        <input class="metering-search-keyword" style="width: 260px;" type="text" placeholder="设备名称/编号/院内编码/出厂编码" maxlength="40" ng-model="data.local.keyword">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;下次检定日期</span>
        <input class="metering-search-date" id="nextDateStart" type="text" readonly placeholder="选择日期" ng-value="data.local.nextDateStart | date:'yyyy-MM-dd'">
        <span>至</span>
        <input class="metering-search-date" id="nextDateEnd" type="text" readonly placeholder="选择日期" ng-value="data.local.nextDateEnd | date:'yyyy-MM-dd'">
        <span class="metering-btn" ng-click="methods.search()">搜索</span>
    </div>
    <table class="metering-list-table">
        <thead>
            <tr>
                <td colspan="2">设备信息</td>
                <td>规格型号</td>
                <td>供应商</td>
                <td>所在部门</td>
                <td>计量分类</td>
                <td>计量周期（月）</td>
                <td>下次检定日期</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in data.server.list">
                <td style="width: 70px;">
                    <img src="../res/img/11.png" ng-if="!(v.imgUrl && v.imgUrl.length)">
                    <img class="metering-img" ng-src="/api/file{{v.imgUrl}}" ng-if="v.imgUrl && v.imgUrl.length">
                </td>
                <td style="padding-left: 0;">
                    <dl class="metering-dl">
                        <dt>设备名称：</dt>
                        <dd>
                            <span>{{v.assetsName}}</span>
                            <div class="tip-type" ng-if="v.measureManageType == 2">{{v.measureManageType | measureManageType}}</div>
                        </dd>
                        <dt>计量编号：</dt>
                        <dd>{{v.measureNum }}</dd>
                        <dt>生产商：</dt>
                        <dd>{{v.factoryName }}</dd>
                    </dl>
                </td>
                <td>{{v.assetsSpec }}</td>
                <td>{{v.splName }}</td>
                <td>{{v.assetsDeptName }}</td>
                <td>{{v.measureCategory | measureCategory}}</td>
                <td style="text-align: center;">{{v.measureCycle}}</td>
                <td>
                    <div>{{v.nextCheckTime | date:'yyyy-MM-dd'}}</div>
                    <div class="tip-date" ng-if="v.attention && v.attention.length > 0">{{v.attention }}</div>
                </td>
                <td>{{v.assetsStatus | assetsStatus}}</td>
                <td>
                    <a class="edit" ui-sref="metering.menu.testingexecute({id: v.id})">检测</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- 分页 -->
    <span ng-if="!data.loading && !data.empty" data-ng-include=" 'src/tpl/newPageInfo.html' "></span>
    <!-- empty -->
    <div class="empty" ng-if="data.empty && !data.loading">
        <img src="../../../res/img/nocontent.png">暂无数据</div>
    <!-- loading -->
    <div class="loading" ng-if="data.loading">
        <img src="../../../res/img/loading2.gif">
    </div>
</div>