<div class="quality-print">
    <div class="quality-print-title">{{data.local.tenantName}}-{{data.server.template.name}}检测报告单</div>
    <div class="quality-print-row">
        <span>质控检测单号：</span>
        <span>质控检测类型：</span>
        <span>质控检测档案号：</span>
    </div>
    <table class="quality-print-table">
        <tr>
            <td style="width: 120px;">设备名称</td>
            <td></td>
            <td style="width: 120px;">设备编号</td>
            <td></td>
        </tr>
        <tr>
            <td>规格型号</td>
            <td></td>
            <td>出厂编号</td>
            <td></td>
        </tr>
        <tr>
            <td>生产商</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>所在部门</td>
            <td></td>
            <td>联系电话</td>
            <td></td>
        </tr>
        <tr>
            <td>检测依据</td>
            <td></td>
            <td>环境条件</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left;">检测仪器（标准器）</td>
        </tr>
        <tr>
            <td>设备名称</td>
            <td></td>
            <td>规格项目</td>
            <td></td>
        </tr>
        <tr>
            <td>生产商</td>
            <td colspan="3"></td>
        </tr>
    </table>
    <table class="quality-print-table">
        <tr ng-if="data.server.txtItems.length > 0">
            <td style="width: 120px;" rowspan="{{data.server.txtItems.length}}">最大允差</td>
            <td>{{data.server.txtItems[0].name}}</td>
            <td colspan="{{data.server.col}}"></td>
        </tr>
        <tr ng-repeat="v in data.server.txtItems" ng-if="data.server.txtItems.length > 0 && $index > 0">
            <td>{{v.name}}</td>
            <td colspan="{{data.server.col}}"></td>
        </tr>
        <tr>
            <td colspan="2">外观及工作正常性检查</td>
            <td colspan="{{data.server.col}}"></td>
        </tr>
        <tr ng-repeat="v in data.server.items">
            <td ng-repeat="td in v" style="width:{{td.width}}" rowspan="{{td.row}}" colspan="{{td.col}}" ng-if="td.type != 1 && td.type != 3 && td.type != 6">
                <div ng-if="td.type == 2">{{td.txt}}</div>
                <div style="text-align: left;" ng-if="td.type == 4">
                    <div class="tpl-option" ng-repeat="op in td.data.options">
                        <input type="radio" disabled>
                        <span>{{op.name}}</span>
                    </div>
                </div>
                <div style="text-align: left;" ng-if="td.type == 5">
                    <div class="tpl-option" ng-repeat="op in td.data.options">
                        <input type="checkbox" disabled>
                        <span>{{op.name}}</span>
                    </div>
                </div>
                <div style="text-align: left;" ng-if="td.type == 7">{{td.txt}}</div>
                <div style="text-align: left;" ng-if="td.type == 8">{{td.txt}}</div>
            </td>
        </tr>
        <tr>
            <td style="width: 120px;">监测结论</td>
            <td style="text-align: left" colspan="{{data.server.col + 1}}">
                <div class="tpl-option">
                    <input type="radio" disabled>
                    <span>合格</span>
                </div>
                <div class="tpl-option">
                    <input type="radio" disabled>
                    <span>不合格</span>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 120px;">偏离情况记录</td>
            <td colspan="{{data.server.col + 1}}"></td>
        </tr>
    </table>
    <table class="quality-print-table">
        <tr>
            <td style="width: 120px;">检测人</td>
            <td></td>
            <td style="width: 120px;">检测日期</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width: 120px;">审核人</td>
            <td></td>
            <td style="width: 120px;">审核结果</td>
            <td></td>
            <td style="width: 120px;">审核日期</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 120px;">审核备注</td>
            <td colspan="5"></td>
        </tr>
    </table>
</div>